# Kuala Lumpur Real Estate Price Prediction - Data Preparation

Use dataset published by Kaggle - https://www.kaggle.com/dragonduck/property-listings-in-kuala-lumpur - to train a simple deep learning model to predict prices for real estate in Kuala Lumpur.


This notebook contains the common data loading and preparation steps:
- load data from the input CSV
- do an assessment of the dataset to understand the number of distinct, missing, or invalid values by column

# Common imports and variables
Imports and variable definitions that are common to the entire notebook

In [1]:
!pip install requests
!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests) (2022.12.7)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.8/dist-packages (1.2.0)

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import datetime as dt
# common imports
import zipfile
import time
# import datetime, timedelta
import datetime
from datetime import datetime, timedelta
from datetime import date
from dateutil import relativedelta
from io import StringIO
import pandas as pd
import pickle
from sklearn.base import BaseEstimator
from sklearn.base import TransformerMixin
from io import StringIO
import requests
import json
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline 
import os
import math
from subprocess import check_output
from IPython.display import display
import logging
import yaml
from collections import Counter
import re
import os
colab_path = "machine_learning_tabular_book/code/deep_learning_best_practices"

In [3]:
!pwd

/content

In [4]:
def get_config(config_file):
    ''' open config file with name config_file that contains parameters
    for this module and return Python object

    Args:
        config_file: filename containing config parameters

    Returns:
        config: Python dictionary with config parms from config file - dictionary


    '''
    current_path = os.getcwd()
    path_to_yaml = os.path.join(current_path, config_file)
    print("path_to_yaml " + path_to_yaml)
    try:
        with open(path_to_yaml, 'r') as c_file:
            config = yaml.safe_load(c_file)
        return config
    except Exception as error:
        print('Error reading the config file ' + str(error))

In [5]:
def print_config_values(config):
    for val in config:
        print("config value ",val," ",str(config[val]))

In [6]:
def set_current_directory():
  ''' check to see if the notebook is being run in Colab, and if so, set the current directory appropriately'''
  if 'google.colab' in str(get_ipython()):
    from google.colab import drive
    drive.mount('/content/drive')
    %cd /content/drive/MyDrive/machine_learning_tabular_book/code/deep_learning_best_practices/notebooks

# Load Data
- ingest CSV into a Pandas dataframe

In [7]:
def get_path():
    ''' get the path for data files

    Returns:
        path: path for data directory

    '''
    rawpath = os.getcwd()
    # data is in a directory called "data" that is a sibling to the directory
    # containing the notebook
    path = os.path.abspath(os.path.join(rawpath, '..', 'data'))
    return path

In [8]:
def ingest_data(path,input_csv,pickled_input_dataframe,save_raw_dataframe,load_from_scratch):
    ''' load data into dataframe
    Args:
        path: path containing input file
        input_csv: input file name
        pickled_input_dataframe: pickled version of input file

    Returns:
        path: path for data directory
    '''
    if load_from_scratch:
        # if loading from scratch, the raw CSV file is expected to be in the data directory which is a sibling to the 
        # directory that contains this notebook
        unpickled_df = pd.read_csv(os.path.join(path,input_csv)) 
        if save_raw_dataframe:
            file_name = os.path.join(path,pickled_input_dataframe)
            print("file_name is ",file_name)
            unpickled_df.to_pickle(file_name)
    else:
        unpickled_df = pd.read_pickle(os.path.join(path,pickled_input_dataframe))
        logging.debug("reloader done")
    return(unpickled_df)

# Assess values
- assess columns for missing or invalid values

In [9]:
def not_in_list(x, list):
    ''' check if a value is in a list
    Args:
        x: value to check
        list: list in which to check for the value

    Returns:
        retur_val: 1 if value is in not in list, 0 otherwise
    '''
    if x in list:
        return_val = 0
    else:
        return_val = 1
    return(return_val)

In [10]:
def neg_val(x):
    ''' check if a value is in a list
    Args:
        x: value to check
    
    Returns:
        retur_val: 1 if value is negative, 0 otherwise
    '''
    if x >= 0:
        return_val = 0
    else:
        return_val = 1
    return(return_val)

In [11]:
def basic_assessment(df,columns,valid_values,non_neg_continuous):
    ''' assess the values in a dataframe
    Args:
        df: dataframe for assessment
        columns: dictionary of column names by category
        valid_values: dictionary of valid values for categorical columns with limited number of valid values
        non_neg_continuous: list of continuous columns with only non-negative values as valid
    '''
    for col in list(df):
        print("Missing values in ",col," ",str(df[col].isna().sum()))
        print("Distinct values in ",col," ",str(df[col].nunique()))
    # for categorical columns with a limited number of valid values, count the number of invalid values by column
    for col in valid_values:
        print("non-valid values in column ",col," ",str(df[col].apply(lambda x:not_in_list(x,valid_values[col])).sum()))
    # count non-numeric values in continuous columns
    for col in columns['continuous']:
        # mask = pd.to_numeric(df['Hours_Worked'], errors='coerce').isna()
        mask = pd.to_numeric(df[col], errors='coerce').isna()
        print("non-numeric values in continuous col ",col," ",str(mask.sum()))
        # if there are no non-numeric values in the column and it muast have non-negative values, count negative values
        if (mask.sum()==0) and (col in non_neg_continuous):
            print("negative values in colum ",col," ",str(df[col].apply(lambda x:neg_val(x)).sum()))

In [12]:
def out_of_range(x,max,min):
    ''' count whether a value is in a range
    Args:
        x: value to check in range
        max: top of the range to check
        min: bottom of the range to check
        
    Returns:
        ret_val: 1 if out of range, 0 otherwise
    '''
    if x > max or x < min:
        return_val = 1
    else:
        return_val = 0
    return(return_val)

In [13]:
def remove_currency_symbol(currency_string, input_string):
    ''' remove the currency symbol from a string
    Args:
        currency_string: currency symbol
        input_string: string from which to remove currency symbol
        
    Returns:
        output_string: input_string with currency symbol removed
    '''    
    #print("input_string is",input_string)
    #print(" on length ",len(input_string))
    output_string = re.sub(currency_string,'',input_string)
    return(output_string)

In [14]:
def remove_after_space(input_string):
  ''' remove everything after the first space in a string
  Args:
  input_string: string from which to remove content after space
  Returns:
  output_string: input_string with content removed
  '''    
  # remove leading and trailing spaces
  input_string = input_string.strip()
  # remove everything after internal spaces
  output_string = re.sub(r'\s* .*', '', input_string)
  output_string = re.sub(r'\([^)]*\)','',output_string)
  return(output_string)

In [15]:
def clean_up_size_col(df,clean_up_list):
    '''
    For the Size column in the KL real estate dataset:
    - lowercase values 
    - split the dimension values from the size type values
    - remove records with no numeric values
    - remove records with problematic values in clean_up_list
    Args:
      df: input dataframe
      clean_up_list: list of strings that, if a row contains them, the row should be removed from the dataset
    Returns:
      df: updated dataframe
    '''
    # remove rows with missing Size values
    df.dropna(subset=['Size'], inplace=True)

    # lowercase values in the Size column
    df['Size'] = df['Size'].str.lower()

    # split the Size column into two columns
    df[['Size_type','Size']] = df['Size'].str.split(':',expand=True)

    # replace missing values in the Size column with 0
    df['Size'] = df['Size'].fillna("0")
    
    # remove rows from Size that do not contain any digits
    df = df[df.Size.str.contains(r'\d')]
    # remove rows from Size that contain substrings from the clean_up_list
    for string in clean_up_list:
        df = df[~df.Size.str.contains(string,na=False)]
    # replace extraneous characters so that all Size entries are either numeric or of the form "numerica * numericb"
    df['Size'] = df['Size'].str.replace(',','').str.replace('`','').str.replace('@','x').str.replace('\+ sq. ft.','')
    df['Size'] = df['Size'].str.replace(' sq. ft.','').str.replace('sf sq. ft.','').str.replace('ft','').str.replace('sq','').str.replace("xx","*").str.replace("x ","*").str.replace(" x","*").str.replace("x","*").str.replace("X","*").replace('\'','')
    # remove extraneous characters following spaces
    df['Size'] = df['Size'].apply(lambda x: remove_after_space(x))
    # apply transformation to replace "numerica * numericb" with the result of the multiplication
    df['Size'] = df['Size'].apply(lambda x: eval(str(x)))
    return(df)

In [16]:
def clean_up_price_col(df):
  '''
    For the Price column in the KL real estate dataset:
    - remove rows where the Price value is missing
    - remove currency symbol from remaining rows
    - convert values to float 
    Args:
      df: input dataframe
      clean_up_list: list of strings that, if a row contains them, the row should be removed from the dataset
    Returns:
      df: updated dataframe
  '''
  df.dropna(subset=['Price'], inplace=True)
  # remove currency symbol from remaining rows
  df['Price'] = df['Price'].apply(lambda x: remove_currency_symbol("RM ",x))


  # convert Price column to float
  df['Price'] = pd.to_numeric(df['Price'].str.replace(',',''), errors='coerce')
  return(df)

In [17]:
def clean_up_rooms_col(df,treat_rooms_as_numeric):
  '''
    For the Rooms column in the KL real estate dataset:
    - if there is an operation in the value, conduct that operation
    - convert the value from string to integer
    Args:
      df: input dataframe
    Returns:
      df: updated dataframe
  '''
  if treat_rooms_as_numeric:
    print("Rooms treated as numeric")
    df['Rooms'] = df['Rooms'].fillna("0")
    # "Studio", "20 Above" are the values in the Rooms column that cannot be dealt with as numeric
    df['Rooms'] = df['Rooms'].replace("Studio", "1")
    df['Rooms'] = df['Rooms'].replace("20 Above", "21")
    df['Rooms'] = df['Rooms'].apply(lambda x: eval(str(x)))
    df['Rooms'] = pd.to_numeric(df['Rooms'], errors='coerce')
    # any
    df['Rooms'] = df['Rooms'].fillna("0")
  else:
    print("Rooms treated as non-numeric")
    df['Rooms'] = df['Rooms'].fillna("unknown_rooms")
  return(df)

In [18]:
def clean_up_misc_cols(df,misc_col_dict):
  '''
    For columns where the only cleanup required is dealing with missing values, deal with missing values
    Args:
      df: input dataframe
    Returns:
      df: updated dataframe
  '''  
  for col in misc_col_dict:
    df[col] = df[col].fillna(misc_col_dict[col])
  return(df)

# Master cell
This cell contains calls to the other functions in this notebook to complete the data preparation

In [19]:
# master cell to call the other functions
# get the path for data files
set_current_directory()
path = get_path()
print("path is ",path)
config = get_config('data_preparation_config.yml')
logging.getLogger().setLevel(logging.WARNING)
logging.warning("logging check")
#print_config_values(config)
# load dataframe and, if parameter set, save CSV file as a pickled dataframe
df = ingest_data(path,config['file_names']['input_csv'],config['file_names']['pickled_input_dataframe'],config['general']['save_raw_dataframe'],config['general']['load_from_scratch'])
print("shape ",df.shape)
'''
# get basic assessment information for the dataframe
basic_assessment(df,config['columns'],config['valid_values'],config['non_negative_continuous'])
# get assessment for geospatial information
geo_assessment(df,config['bounding_box'])
'''
df.head()

Mounted at /content/drive
/content/drive/MyDrive/machine_learning_tabular_book/code/deep_learning_best_practices/notebooks
path is  /content/drive/MyDrive/machine_learning_tabular_book/code/deep_learning_best_practices/data
path_to_yaml /content/drive/MyDrive/machine_learning_tabular_book/code/deep_learning_best_practices/notebooks/data_preparation_config.yml

WARNING:root:logging check

shape  (53883, 8)

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished

In [20]:
# get number of unique values in each column
counts = df.nunique()
print("unique value counts: ",counts)

unique value counts:  Location          112
Price            4280
Rooms              43
Bathrooms          17
Car Parks          21
Property Type      99
Size             6190
Furnishing          4
dtype: int64

In [21]:
df['Rooms'].value_counts()

3           14249
3+1          8070
2            5407
4            5018
4+1          4404
5+1          2340
1            2322
5            2065
2+1          1938
1+1          1191
6             937
Studio        874
6+1           807
4+2           479
3+2           477
5+2           410
7             358
7+1           237
2+2           132
8             125
6+             86
8+1            64
9              40
7+             32
10             25
9+1            14
8+             14
10+             8
12              8
20 Above        8
1+2             8
11              6
10+1            4
12+             4
13+             3
11+1            3
14              2
9+              2
16              2
15+             1
18              1
13+1            1
13              1
Name: Rooms, dtype: int64

In [22]:
missing_values_count = df.isnull().sum()
print("missing values before cleanup: ",missing_values_count)

missing values before cleanup:  Location             0
Price              248
Rooms             1706
Bathrooms         2013
Car Parks        17567
Property Type       25
Size              1063
Furnishing        6930
dtype: int64

In [23]:
# for rows where the key columns are all missing values, drop the row
# continuous columns:  Index(['Price', 'Bathrooms', 'Car Parks', 'Size'], dtype='object')
# categorical columns:  Index(['Location', 'Rooms', 'Property Type', 'Furnishing', 'Size_type'], dtype='object')
key_cols = ['Rooms','Bathrooms','Furnishing']
df = df.dropna(subset=key_cols, how='all')
# define dictionary of columns that will get basic replacements
misc_col_dict = {'Bathrooms':0,'Car Parks':0,'Furnishing':"unknown"}

In [24]:
df.describe()

          Bathrooms     Car Parks
count  51870.000000  36285.000000
mean       3.073434      2.006973
std        1.631079      1.306358
min        1.000000      1.000000
25%        2.000000      1.000000
50%        2.000000      2.000000
75%        4.000000      2.000000
max       20.000000     30.000000

In [25]:
# complete clean up of Price and Size columns
df = clean_up_price_col(df)
clean_up_list = ["-","\+",'\'','\~',"xx","sf","acre","#"]
df = clean_up_size_col(df,clean_up_list)
print("shape ",df.shape)
df.head()

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
<ipython-input-15-92801a20170b>:32: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Size'] = df['Size'].str.replace(',','').str.replace('`','').str.replace('@','x').str.replace('\+ sq. ft.','')
<ipython-input-15-92801a20170b>:33: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Size'] = df['Size'].str.replace(' sq. ft.','').str.replace('sf sq. ft.','').str.replace('ft','').str.replace('sq','').str.replace("xx","*").str.replace("x ","*").str.replace(" x","*").str.replace("x","*").str.replace("X","*").replace('\'','')

shape  (51386, 9)

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing,Size_type
0,"KLCC, Kuala Lumpur",1250000,2+1,3.0,2.0,Serviced Residence,1335.0,Fully Furnished,built-up
1,"Damansara Heights, Kuala Lumpur",6800000,6,7.0,NaN,Bungalow,6900.0,Partly Furnished,land area
2,"Dutamas, Kuala Lumpur",1030000,3,4.0,2.0,Condominium (Corner),1875.0,Partly Furnished,built-up
4,"Bukit Jalil, Kuala Lumpur",900000,4+1,3.0,2.0,Condominium (Corner),1513.0,Partly Furnished,built-up
5,"Taman Tun Dr Ismail, Kuala Lumpur",5350000,4+2,5.0,4.0,Bungalow,7200.0,Partly Furnished,land area

In [26]:
rows = df.loc[df['Rooms'] == 'Studio']

In [27]:
rows

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing,Size_type
182,"KLCC, Kuala Lumpur",1000000,Studio,1.0,NaN,Condominium (Studio),657.0,Fully Furnished,built-up
218,"KL City, Kuala Lumpur",1207000,Studio,1.0,1.0,Serviced Residence (Intermediate),685.0,Partly Furnished,built-up
355,"KLCC, Kuala Lumpur",1000000,Studio,1.0,1.0,Condominium (EndLot),657.0,Partly Furnished,built-up
482,"KLCC, Kuala Lumpur",830000,Studio,1.0,NaN,Serviced Residence (Intermediate),473.0,Fully Furnished,built-up
578,"KLCC, Kuala Lumpur",780000,Studio,1.0,NaN,Serviced Residence (Intermediate),497.0,Fully Furnished,built-up
...,...,...,...,...,...,...,...,...,...
53675,"Dutamas, Kuala Lumpur",850000,Studio,1.0,NaN,Serviced Residence (Intermediate),672.0,Fully Furnished,built-up
53779,"Jalan Sultan Ismail, Kuala Lumpur",450000,Studio,1.0,NaN,Serviced Residence,500.0,Fully Furnished,built-up
53833,"Sri Hartamas, Kuala Lumpur",430000,Studio,1.0,NaN,Serviced Residence (Corner),500.0,Fully Furnished,built-up
53838,"Sri Hartamas, Kuala Lumpur",430000,Studio,1.0,NaN,Serviced Residence (Corner),480.0,Fully Furnished,built-up
53844,"Sri Hartamas, Kuala Lumpur",430000,Studio,1.0,NaN,Serviced Residence (Corner),500.0,Fully Furnished,built-up

In [28]:
# clean up the Rooms column
df = clean_up_rooms_col(df, config['general']['treat_rooms_as_numeric'])
df.head()

Rooms treated as non-numeric

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing,Size_type
0,"KLCC, Kuala Lumpur",1250000,2+1,3.0,2.0,Serviced Residence,1335.0,Fully Furnished,built-up
1,"Damansara Heights, Kuala Lumpur",6800000,6,7.0,NaN,Bungalow,6900.0,Partly Furnished,land area
2,"Dutamas, Kuala Lumpur",1030000,3,4.0,2.0,Condominium (Corner),1875.0,Partly Furnished,built-up
4,"Bukit Jalil, Kuala Lumpur",900000,4+1,3.0,2.0,Condominium (Corner),1513.0,Partly Furnished,built-up
5,"Taman Tun Dr Ismail, Kuala Lumpur",5350000,4+2,5.0,4.0,Bungalow,7200.0,Partly Furnished,land area

In [29]:
# clean up the columns where we just want to deal with missing values
df = clean_up_misc_cols(df,misc_col_dict)

In [30]:
path

'/content/drive/MyDrive/machine_learning_tabular_book/code/deep_learning_best_practices/data'

In [31]:
# if specified, save the transformed dataset as a pickle file
if config['general']['save_transformed_dataframe']:
    print("path is ",path)
    file_name = os.path.join(path,config['file_names']['pickled_output_dataframe'])
    print("file_name is ",file_name)
    df.to_pickle(file_name)

path is  /content/drive/MyDrive/machine_learning_tabular_book/code/deep_learning_best_practices/data
file_name is  /content/drive/MyDrive/machine_learning_tabular_book/code/deep_learning_best_practices/data/kl_real_estate_output.pkl

In [32]:
df.columns

Index(['Location', 'Price', 'Rooms', 'Bathrooms', 'Car Parks', 'Property Type',
       'Size', 'Furnishing', 'Size_type'],
      dtype='object')

In [33]:
# dataset columns by type
# continuous
# categorical
categorical_columns = df.select_dtypes(include=['object']).columns
continuous_columns = continuous_columns = df.select_dtypes(include=['float', 'int']).columns
print("continuous columns: ",continuous_columns)
print("categorical columns: ",categorical_columns)

continuous columns:  Index(['Price', 'Bathrooms', 'Car Parks', 'Size'], dtype='object')
categorical columns:  Index(['Location', 'Rooms', 'Property Type', 'Furnishing', 'Size_type'], dtype='object')

In [34]:
df['Location'].value_counts()

Mont Kiara, Kuala Lumpur                           5712
KLCC, Kuala Lumpur                                 5109
Cheras, Kuala Lumpur                               4267
Jalan Klang Lama (Old Klang Road), Kuala Lumpur    2755
Setapak, Kuala Lumpur                              2579
                                                   ...
taman cheras perdana, Kuala Lumpur                    1
Bukit  Persekutuan, Kuala Lumpur                      1
Wangsa Melawati, Kuala Lumpur                         1
Taman Yarl OUG, Kuala Lumpur                          1
Kuala Lumpur, Kuala Lumpur                            1
Name: Location, Length: 108, dtype: int64

In [35]:
# confirm that all missing values have been dealt with
missing_values_count = df.isnull().sum()
print("missing values post cleanup: ",missing_values_count)

missing values post cleanup:  Location         0
Price            0
Rooms            0
Bathrooms        0
Car Parks        0
Property Type    0
Size             0
Furnishing       0
Size_type        0
dtype: int64

In [36]:
df.describe()

              Price     Bathrooms     Car Parks          Size
count  5.138600e+04  51386.000000  51386.000000  5.138600e+04
mean   1.872808e+06      3.027089      1.381621  2.622756e+03
std    1.302191e+07      1.669165      1.432062  4.946750e+04
min    3.080000e+02      0.000000      0.000000  0.000000e+00
25%    5.800000e+05      2.000000      0.000000  1.003000e+03
50%    9.800000e+05      2.000000      1.000000  1.400000e+03
75%    1.949186e+06      4.000000      2.000000  2.315000e+03
max    1.980000e+09     20.000000     30.000000  1.100000e+07

In [39]:
df["Price"].median()

980000.0

In [40]:
df["Price"].mean()

1872808.416280699

In [38]:
# check the distribution of unique values in each column post cleanup
# continuous columns:  Index(['Price', 'Bathrooms', 'Car Parks', 'Size'], dtype='object')
# categorical columns:  Index(['Location', 'Rooms', 'Property Type', 'Furnishing', 'Size_type'], dtype='object')
counts = df.nunique()
print("unique value counts: ",counts)
print("shape ",df.shape)

unique value counts:  Location          108
Price            4008
Rooms              44
Bathrooms          18
Car Parks          22
Property Type      97
Size             3921
Furnishing          5
Size_type           2
dtype: int64
shape  (51386, 9)